# macOS
.DS_Store

# Node / React
node_modules/
dist/
build/

# Environment variables
.env
#.env.local
.env.*

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# ML model files
*.pt
*.pth
*.ckpt